*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----------------------------HEADER------------------------------ */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
    background-color: rgb(120, 224, 111);
}

.logo{
    height: 60px;
}

.menu{
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a{
    text-decoration: none;
    color: black;
}

.btn{
    border-radius: 10px;
    border:none;
    padding: 20px 25px;
    font-size: 15px;
    background-color: #c6e4da;
}

.btn a{
    color: black;
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(186, 109, 238);
}